.page {
  display: flex;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 2.4rem;
}

.aside {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 600px;
  background-color: #fbfcfd;
  border-inline-start: 1px solid rgb(228, 228, 231);
  height: 100vh;

  > *:not(:last-of-type) {
    border-block-end: 1px solid rgb(228, 228, 231);
  }
}
