.codeBlock {
  line-height: 1.5;

  :global(.hljs-comment),
  :global(.hljs-quote),
  :global(.hljs-variable) {
    color: #008000;
  }

  :global(.hljs-keyword),
  :global(.hljs-selector-tag),
  :global(.hljs-built_in),
  :global(.hljs-name),
  :global(.hljs-tag) {
    color: #00f;
  }

  :global(.hljs-string),
  :global(.hljs-title),
  :global(.hljs-section),
  :global(.hljs-attribute),
  :global(.hljs-literal),
  :global(.hljs-template-tag),
  :global(.hljs-template-variable),
  :global(.hljs-type),
  :global(.hljs-addition) {
    color: #a31515;
  }

  :global(.hljs-deletion),
  :global(.hljs-selector-attr),
  :global(.hljs-selector-pseudo),
  :global(.hljs-meta) {
    color: #2b91af;
  }

  :global(.hljs-doctag) {
    color: #808080;
  }

  :global(.hljs-attr) {
    color: #f00;
  }

  :global(.hljs-symbol),
  :global(.hljs-bullet),
  :global(.hljs-link) {
    color: #00b0e8;
  }

  :global(.hljs-emphasis) {
    font-style: italic;
  }

  :global(.hljs-strong) {
    font-weight: bold;
  }
}
